@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-image: linear-gradient( 50deg, hsl(227, 52%, 11%), hsl(227, 37%, 20%) 50% ,  hsl(227, 52%, 11%));
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden;
    height: 100vh;
    width: 100vh;
    
    
}
/* SCORE --------*/
.score {
    border: 1px solid white;
    height: 100px;
    width: 500px;
    display: flex;
    border-radius: 10px;
    margin-left: 450px;
    margin-top: 20px;
}
.RPS {
    font-size: 28PX;
    margin-top: 8px;
    margin-left: 10px;
    line-height: 1;
}
.points {
    background-color: white;
    color: hsl(227, 52%, 11%) ;
    height: 80px;
    width: 100px;
    display: grid;
    place-content: center;
    border-radius: 10px;
    margin-left: 260px;
    margin-top: 8px;
    
}
.numberP {
    font-size: 40px;
    margin-left: 12px;
}
/* MAIN */
.triangle {
    margin-top: 150px;
    margin-left: 550px;
    height:  300px;

    
}
main.firstPart {
    margin-top: -40px;
}
button {
    background-color: white;
    border: 10px solid blue;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    display: grid;
    place-content: center;
    cursor: pointer;
    position: absolute;
    transition: transform 0.2s ease !important;
    
    
}
button:hover {
    transform:  translate(3px, -3px) !important;
}
.buttons1 {
    border: 10px solid hsl(230, 89%, 62%);
    margin-left: 500px;
    margin-top: -350px;
    height: 150px;
    width: 150px;
    
}
.buttons3 {
    border: 10px solid hsl(349, 71%, 52%);
    margin-left: 650px;
    margin-top: -80px;
    height: 150px;
    width: 150px;
    
}
.buttons2 {
    border: 10px solid hsl(39, 89%, 49%) ;
    margin-left: 780px;
    margin-top: -350px;
    height: 150px;
    width: 150px;
    

}
@keyframes button-hover {
    0% {
        margin-top: -250px; 
    }
    100% {
        margin-top: -260px;
    }
    
}

@keyframes button-enter {
    0% {
        margin-top: 250px; 
    }
    
    100% {
        margin-top: -250px; 
    }
}
@keyframes button-red {
    0% {
        margin-top: 250px; 
    }
    
    100% {
        margin-top: -80px;
    }
}
/*RULESSSS */
.rules {
    border: 1px solid white;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    background-color: transparent !important;
    color: white;
    position: absolute;
    margin-left: 1200px;
    margin-top: 50px;
    position: absolute;

}
.windowRules {
    display: none;
    background-color: whitesmoke;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    position: fixed !important;
    z-index: 9999;
    margin-top: -400px;
    margin-left: 500px;
    color: gray !important;


}
p.rulesP {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 25px;
}
img.rulesIMG {
    margin-top: 70px;
    margin-left: 45px;
}
.menuRULES {
    display: flex !important;
}
.X {
    margin-left: 280px;
    margin-top: 20px;
    height: 20px;
    cursor: pointer;
}
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
  }
  
  /*SECOND PART */
  .secondPart {
    display: none;
  }
  .buttonRight {
    border: 20px solid hsl(230, 89%, 62%);
    margin-left: 300px ;
    margin-top: 200px ; 
    height: 250px ;
    width: 250px ;
    animation: toleft 1s linear, box-shadowTRANSITION 1s linear ;
    box-shadow:  0 0 0 40px hsla(226, 43%, 24%, 0.555), 0 0 0 100px hsla(224, 46%, 18%, 0.932), 0 0 0 200px hsla(223, 45%, 17%, 0.699);
    z-index: -1;
    
  }
  
  .buttonLeft {
    border: 20px solid hsl(349, 71%, 52%) ;
    margin-left: 850px;
    margin-top: 200px;
    height: 250px;
    width: 250px;
    animation: toright 1s linear;
    box-shadow: 0 10px 0px -105px rgba(5, 5, 5, 0.753);
    
  }


  /* CLASSLIST BUTTONS */
  .buttonROCKLEFT {
    border: 20px solid hsl(349, 71%, 52%) ;
    margin-left: 850px;
    margin-top: 200px;
    height: 250px;
    width: 250px;
    animation: toright 1s linear;
    box-shadow: 0 10px 0px -105px rgba(5, 5, 5, 0.753);
    z-index: -3;
  }
  .buttonSCISSORLEFT {
    border: 20px solid hsl(39, 89%, 49%) ; ;
    margin-left: 850px;
    margin-top: 200px;
    height: 250px;
    width: 250px;
    animation: toright 1s linear;
    box-shadow: 0 10px 0px -105px rgba(5, 5, 5, 0.753);
    z-index: -3;
  }
  .selected {
    border-color:hsl(39, 89%, 49%) ; ;
  }
  .buttonPAPERLEFT {
    border: 20px solid hsl(230, 89%, 62%);
    margin-left: 850px;
    margin-top: 200px;
    height: 250px;
    width: 250px;
    animation: toright 1s linear;
    box-shadow: 0 10px 0px -105px rgba(5, 5, 5, 0.753);
    z-index: -3;
  }

  .buttonROCKRIGHT {
    border: 20px solid hsl(349, 71%, 52%) ;
    margin-left: 300px ;
    margin-top: 200px ; 
    height: 250px;
    width: 250px;
    animation: toleft 1s linear;
    box-shadow: 0 10px 0px -105px rgba(5, 5, 5, 0.753);
    z-index: -3;
  }
  .buttonSCISSORSRIGHT {
    border: 20px solid hsl(39, 89%, 49%) ; ;
    margin-left: 300px ;
    margin-top: 200px ; 
    height: 250px;
    width: 250px;
    animation: toleft 1s linear;
    box-shadow: 0 10px 0px -105px rgba(5, 5, 5, 0.753);
    z-index: -3;
  }
  .buttonPAPERRIGHT {
    border: 20px solid hsl(230, 89%, 62%);
    margin-left: 300px ;
    margin-top: 200px ; 
    height: 250px;
    width: 250px;
    animation: toleft 1s linear;
    box-shadow: 0 10px 0px -105px rgba(5, 5, 5, 0.753);
    z-index: -3;
  }
  img.rockL, img.scissorsL, img.paperL, img.rockR, img.scissorsR, img.paperR{
    display: none;
    height: 100px;
  }
  
  .buttons {
    
    border: 20px solid hsl(39, 89%, 49%) ;
    margin-left: 850px;
    margin-top: 200px;
    height: 250px;
    width: 250px;
    animation: toright 1s linear;
    box-shadow: 0 10px 0px -105px rgba(5, 5, 5, 0.753);
    
  }
  
  @keyframes box-shadowTRANSITION {
    0% {
        box-shadow: 0 10px 0px -105px rgba(5, 5, 5, 0.753);
    }
    100% {
        
        box-shadow: transparent;
    }
  }
  
  .win {
    font-size: 30px;
    margin-left: 650px;
    margin-top: 300px;
    position: absolute !important;
    animation: transparentWIN 1s linear;
  }
  @keyframes toleft {
    0% {
        margin-left: 410px;
    }
    100% {
        margin-left: 300px;
    }
  }
  @keyframes toright {
    0% {
        margin-left: 740px;
    }
    100% {
        margin-left: 850px;
    }
  }
  .playAGAIN {
    background-color: white;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    color: hsl(227, 52%, 11%);
    display: grid;
    place-content: center;
    margin-left: 600px;
    margin-top: 370px;
    position: absolute;
    cursor: pointer;
    transition: transform 0.2s ease;
    animation: transparentBUTTON 1s linear;
  }
  .playAGAIN:hover {
    transform: translate(3px, -3px)
  }
  
  @keyframes transparentWIN {
    0% {
        opacity: 0;
        color: transparent ;
        
    }
    100% {
        opacity: 1;
        color: white;
        
    }
  }
  @keyframes transparentBUTTON {
    0% {
        opacity: 0;
        background-color: transparent ;
        color: transparent ;
    }
    100% {
        opacity: 1;
        background-color: white;
        color: hsl(227, 52%, 11%);
    }
  }
  .yourchoice, .housechoice {
    position: absolute;
    margin-top: 150px;
    font-size: 20px;

  }
  .yourchoice {
    margin-left: 370px;
    animation: transparentWIN 1s linear;
  }
  .housechoice {
    margin-left: 890px;
    animation: transparentWIN 1s linear;
  }